html {
    scroll-behavior: smooth;
}

body {
    font-family: "Noto Sans JP", sans-serif;
    color: #444;
}

.wrap {
    overflow-x: hidden;
}

:root {
    --white: #fff;
    --blue: #1C48C1;
    --light-blue: #18AEF2;
    --green: #007A88;
    --dark-green: #005888;
    --navy: #002488;
    --red: #C91F1F;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

a {
    color: #444;
    text-decoration: none;
}

.wrapper {
    width: 100%;
    max-width: 1240px;
    margin: 0 auto;
}

.inner {
    margin-bottom: 100px;
}

ul, li {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pc {
    display: block;
}

.sp {
    display: none;
}

/* セクションタイトル */
.heading {
    display: flex;
    align-items: center;
    gap: 30px;
    margin-bottom: 50px;
    padding-top: 50px;

    h2 {
        background: linear-gradient(90deg, #1C46C0 0%, #18B1F4 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 60px;
        font-family: "Oswald", sans-serif;
        font-weight: 500;
    }

    h3 {
        font-size: 21px;
        font-weight: 400;
    }
}

#feature,
#reason,
#service,
#casestudy,
#clients,
#topics,
#contact-form,
#company {
    scroll-margin-top: 80px;
}


/* ---------------------------------------------------
PC
--------------------------------------------------- */

/* --------------------------------ヘッダー */
.header-wrapper {
    width: 100%;
    position: fixed;
    z-index: 98;
    background-color: var(--white);
}

.header-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ヘッダーロゴ */
h1 {
    margin-left: calc(15px + 85 * ((100vw - 375px) / 1065));
    /* (最小値 + (最大値と最小値の差) * (現在の画面幅から最小幅を引いた値) / 画面幅の差) */

    .header-logo {
        background: linear-gradient(90deg, #1C46C0 0%, #18B1F4 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size: 30px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
    }
}

/* メニュー */
.nav-container {
    display: flex;
    align-items: center;
}

.nav-list {
    display: flex;
}

.nav-item {

    a {
        width: 100%;
        text-align: center;
        font-weight: 400;
        display: block;
        padding: 15px 25px;
        transition-duration: .4s;

        &:hover {
            background-color: #f0f8ff;
        }

        h2 {
            font-size: 16px;
            margin-bottom: 10px;
        }

        p {
            background: linear-gradient(90deg, #1C46C0 0%, #18B1F4 100%);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 12px;
        }
    }
}

.nav-contact-btn {
    display: flex;
    gap: 5px;
    align-items: center;
    margin: 0 25px;
    padding: 10px 20px;
    background: linear-gradient(90deg, #1C46C0 0%, #18B1F4 100%);
    border-radius: 30px;
    transition-duration: .4s;

    &:hover {
        opacity: 0.7;
    }

    img {
        width: 24px;
    }

    h2 {
        color: var(--white);
        font-size: 16px;
    }
}

/* ナビゲーションメニュー */
.navigation-container {
    display: none;
}





/* ハンバーガーメニュー */
.hamburger {
    width: 50px;
    position: fixed;
    top: 20px;
    right: 15px;
    z-index: 99;
    display: none;
    transition-duration: .5s;

    span {
        width: 100%;
        height: 2px;
        background-color: var(--white);
        position: relative;
        transition: ease .4s;
        display: block;
    }

    img {
        display: none;
    }

    .menu-open {
        color: var(--white);
        text-align: center;
        font-family: "Oswald", sans-serif;
        letter-spacing: 0.32em;
        margin-top: 5px;
    }

    .menu-close {
        display: none;
    }
}

.hamburger span:nth-child(1) {
    top: 0;
}

.hamburger span:nth-child(2) {
    margin: 10px auto;
}

.hamburger span:nth-child(3) {
    top: 0;
}

/* ハンバーガーメニュークリック後のスタイル */
.hamburger.active img {
    display: block;
    width: 30px;
    margin: 0 auto;
}

.hamburger.active .menu-open {
    display: none;
}

.hamburger.active .menu-close {
    display: block;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0.3em;
    color: var(--white);
}

.hamburger.active span:nth-child(1) {
    display: none;
}

.hamburger.active span:nth-child(2) {
    display: none;
}

.hamburger.active span:nth-child(3) {
    display: none;
}

/* ハンバーガーメニュークリック後のスタイル */
.header-nav.active {
    transform: translate(0);
}



/* --------------------------------メインビジュアル */
.main-visual {
    background-image: url(/images/mv-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 80px;
}

.main-visual-content {
    display: grid;
    place-content: center;
    text-align: center;
    padding: 100px 0;

    h2 {
        background: linear-gradient(90deg, #1C46C0 0%, #18B1F4 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        /* 60px→30px */
        font-size: clamp(1.875rem, 1.215rem + 2.82vw, 3.75rem);
        margin-bottom: 50px;
    }

    > p {
        font-size: clamp(1rem, 0.89rem + 0.47vw, 1.313rem);
        margin-bottom: 50px;
    }
}

.mv-btn {
    display: flex;
    justify-content: center;
    gap: 15px;

    a {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    .contact,
    .detail {
        padding: 15px 25px;
        border: 2px solid;
        border-radius: 40px;
        background-color: var(--white);
        transition-duration: .4s;

        &:hover {
            color: var(--white);
        }
    }

    .contact {
        color: var(--blue);

        &:hover {
            background-color: var(--blue);
        }
    }

    .detail {
        color: var(--light-blue);

        &:hover {
            background-color: var(--light-blue);
        }
    }
}

/* ボタンの矢印デザイン */
.dli-chevron-round-right {
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
    position: relative;
    width: 0.6em;
    height: 0.6em;
    transform: translateX(-25%) rotate(45deg);
}

.dli-chevron-round-right::before,
.dli-chevron-round-right::after {
    content: '';
    position: absolute;
    background: currentColor;
}

.dli-chevron-round-right::before {
    top: 0;
    left: 0;
    right: 0;
    height: 0.15em;
}

.dli-chevron-round-right::after {
    top: 0;
    right: 0;
    bottom: 0;
    width: 0.15em;
}


/* --------------------------------特徴 */
.feature-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.back-text {
        color: #eee;
        font-size: 240px;
        font-weight: 600;
        font-family: "Oswald", sans-serif;
        position: absolute;
        top: -130px;
        right: 0;
    }

.feature-content {
    position: relative;
}

.flexibility {
    margin-top: 80px;
}

.reliability {
    margin-top: 160px;
}


.feature-group {
    position: relative;
    top: 0;

    .feature-number {
        color: var(--white);
        font-size: 12px;
        transform: rotate(90deg);
        border-top: 1px solid var(--white);
        padding-top: 10px;
        position: absolute;
        top: -400px;
        left: -10px;
    }

    .feature-text {
        position: absolute;
        bottom: 0;
        right: 0;
        padding: 0 30px 30px 60px;
        color: var(--white);

        .feature-title {
            display: flex;
            gap: 10px;
            align-items: center;
            margin-bottom: 30px;

            p {
                font-size: 16px;
            }

            h5 {
                font-size: 21px;
                border-bottom: 1px solid var(--white);
            }
        }
    }
}


/* --------------------------------選ばれる理由 */
.reason {
    background-image: url(/images/reason-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.reason-container {
    display: flex;
    justify-content: center;
}

.reason-content {
    width: 360px;
    min-width: 360px;
    height: 360px;
    min-height: 360px;
    border-radius: 50%;
    padding: 66px 50px;
    display: grid;
    place-content: center;

    img {
        display: block;
        margin: 0 auto 20px;
    }

    h4 {
        font-size: 21px;
        letter-spacing: 0.05%;
        text-align: center;
        margin-bottom: 30px;
    }
}

.custom {
    margin-top: 180px;
    border: 1px solid #25C6EA;

    h4 {
        color: #25C6EA;
    }
}

.responsive {
    border: 1px solid #2599EA;

    h4 {
        color: #2599EA;
    }
}

.support {
    margin-top: 180px;
    border: 1px solid #007488;

    h4 {
        color: #007488;
    }
}

.reason-img {
    display: block;
    margin: auto;
    padding-bottom: 50px;
}


/* --------------------------------サービス */
.service {
    background-image: url(/images/service-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.service-container {
    padding-bottom: 50px;
}

.service-group {
    display: flex;

    .center {
        margin: 200px 0 0 -50px;
    }

    .right {
        margin: 400px 0 0 -50px;
    }
}

.service-under {
    margin-top: -350px;
}


.service-content {
    background-color: var(--white);
    clip-path: polygon(25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%, 0% 50%);
    width: 460px;
    height: 350px;
    margin-bottom: 50px;
    padding-top: 30px;
    box-shadow: 2px 2px 2px 0px rgba(0, 122, 136, 1);

    .service-number {
        width: 50px;
        height: 50px;
        background: linear-gradient(90deg, #1C46C0 0%, #18B1F4 100%);
        border-radius: 50%;
        color: var(--white);
        display: grid;
        place-content: center;
        font-size: 21px;
        margin: 0 auto 5px;
    }

    h4 {
        font-size: 25px;
        background: linear-gradient(90deg, #1C46C0 0%, #18B1F4 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        text-align: center;
        margin-bottom: 20px;
    }

    p {
        padding: 0 70px;
    }
}


/* --------------------------------導入事例 */
.scroll {
    display: flex;
    align-items: center;
    justify-content: right;
    margin-bottom: 15px;
    padding-right: 15px;
    display: none;

    p {
        color: var(--green);
    }
}

.casestudy-container {
    display: flex;
    margin-bottom: 50px;
    position: relative;

    &::-webkit-scrollbar {
        display: none;
    }

    > img {
        position: absolute;
        width: 100vw;
        height: 100%;
    }
}

.casestudy-content {
    border: 1px solid var(--green);
    max-width: 450px;
    margin: 0 30px;
}

.icon-title {
    text-align: center;

    img {
        margin: 0 auto;
    }

    h4 {
        color: var(--white);
        background-color: var(--green);
        padding: 10px;
        width: fit-content;
        margin: 0 auto 15px;
    }
}

.casestudy-group {
    padding: 15px;

    .casestudy-item {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 10px;

        h5 {
            color: var(--white);
            padding: 10px;
            border-radius: 50%;
            min-width: 52px;
            height: 52px;
            font-weight: normal;
            display: grid;
            place-content: center;
        }
    }
}

.assignment {
    background-color: var(--green);
}

.solution {
    background-color: var(--dark-green);
}

.results {
    background-color: var(--navy);
}



/* --------------------------------主要取引先 */
.clients-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 30px 0;

    li {
        width: 20%;
    }
}


/* --------------------------------最新情報 */
.topics {
    background-image: url(/images/topics-back.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding-bottom: 50px;
}

.topics-container {
    background-color: var(--white);
}

.topics-content {
    display: flex;
    gap: 50px;
    padding: 25px 80px;
    border-bottom: 1px solid #DDDDDD;

    h4 {
        font-size: 21px;
        letter-spacing: 0.05em;
        width: 500px;
        font-weight: 500;
    }
}

.topics-date {
    display: flex;
    align-items: flex-start;
    gap: 20px;
    width: 245px;

    time {
        padding-top: 5px;
    }

    p {
        padding: 5px 10px;
        border-radius: 15px;
    }
}

.press-release {
    background-color: #9CD6FF;
}

.blog {
    background-color: #BBF3FF;
}

.news {
    background-color: #C7E6FF;
}


/* --------------------------------お問い合わせフォーム */
.contact-flex {
    display: flex;
    justify-content: space-between;
}

.overview {
    width: 50%;

    img {
        margin-bottom: 30px;
    }
}

.form {
    width: 45%;
}

.form-wrapper {
    width: 100%;
}

.form-inner {

    > p {
        color: var(--red);
        text-align: right;
    }
}

.form-content {
    margin-bottom: 30px;

    p {
        margin-bottom: 10px;
    }
}

.required::after {
    content: '※';
    color: var(--red);
    font-size: 12px;
    margin-left: 10px;
}

.name {
    display: flex;
    gap: 20px;
}

.form-text {
    width: 100%;
    height: 44px;
    border: none;
    border-radius: 5px;
    background-color: #EEE;
    padding-left: 10px;

    &::placeholder {
        color: #AAA;
    }
}

textarea {
    max-width: 100%;
    min-width: 100%;
    min-height: 150px;
    border: none;
    border-radius: 5px;
    background-color: #EEE;
    padding-top: 10px;
    padding-left: 10px;
}

.submit-btn {
    width: fit-content;
    margin: auto;

    button {
        color: var(--white);
        background: linear-gradient(90deg, #1C46C0 0%, #18B1F4 100%);
        padding: 10px 60px 10px 30px;
        position: relative;

        &::after {
            content: '';
            background-image: url(/images/contact-send-icon.svg);
            background-size: contain;
            background-repeat: no-repeat;
            background-position: center;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 50%;
            right: 10%;
            transform: translateY(-50%);
            transition: all 3s;
        }
    }
}


/* --------------------------------会社概要 */
.company-container {
    display: flex;
    justify-content: space-between;

    img {
        width: fit-content;
        height: fit-content;
    }
}

table {
    width: 45%;
    border-collapse: collapse;

    tr {
        border-bottom: 1px solid #DDD;

        th,
        td {
            padding: 20px 0;
        }

        th {
            width: 128px;
            text-align: left;
            font-weight: 500;
        }
    }
}


/* --------------------------------フッター */
.footer {
    background: linear-gradient(90deg, #1C46C0 0%, #18B1F4 100%);
}

.footer-inner {
    display: flex;
    justify-content: space-between;
    padding: 60px 0 100px;
}

/* フッターロゴ */
h2 {

    .footer-logo {
        color: var(--white);
        font-size: 60px;
        font-family: "Oswald", sans-serif;
        font-weight: 400;
    }
}

.footer-about {
    color: var(--white);

    p {
        margin-bottom: 5px;
    }
}

.footer-sns {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

.footer-nav {
    display: flex;
    gap: 30px;
    border-left: 1px solid var(--white);
    border-right: 1px solid var(--white);
    padding: 0 80px;

    li {
        margin-bottom: 10px;

        a {
            color: var(--white);
            transition-duration: .4s;
            position: relative;

            &::after {
                position: absolute;
                left: 0;
                content: '';
                width: 100%;
                height: 1px;
                background-color: var(--white);
                bottom: -1px;
                transform: scale(0, 1);
                transform-origin: center top;
                transition: transform 0.3s;
            }

            &:hover::after {
                transform: scale(1, 1);
            }
        }
    }
}

.other {

    div {
        margin-bottom: 10px;

        a {
            color: var(--white);
            transition-duration: .4s;
            position: relative;

            &::after {
                position: absolute;
                left: 0;
                content: '';
                width: 100%;
                height: 1px;
                background-color: var(--white);
                bottom: -1px;
                transform: scale(0, 1);
                transform-origin: center top;
                transition: transform 0.3s;
            }

            &:hover::after {
                transform: scale(1, 1);
            }
        }
    }
}

.copyright {
    color: var(--white);
    font-size: 12px;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-weight: 200;
    padding: 10px 0;
}

































/* --------------------------------ヘッダー */
/* ヘッダーメニューの切り替え */
@media screen and (max-width: 1280px) {

    .header-inner {
        background: linear-gradient(90deg, #1C46C0 0%, #18B1F4 100%);
        height: 80px;
    }

    /* ヘッダーロゴ */
    h1 {
        .header-logo {
            background: linear-gradient(#fff);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            font-size: 30px;
        }
    }

    .nav,
    .nav-contact-btn {
        display: none;
    }

    .hamburger {
        display: block;
        margin: 15px;
        top: 0;
        transition-duration: .5s;
    }

    .nav-container {
        flex-direction: column;
    }

    /* ナビゲーションメニュー */
    .navigation-container {
        position: fixed;
        right: 0;
        display: block;
        background-color: var(--white);
        padding-top: 100px;
        width: 100%;
        height: 100vh;
        z-index: 90;
    }

    /* アニメーション前のメニューの状態 */
    .navigation-container{
        pointer-events: none;
        opacity: 0;
        transform-origin: center;
        transform: scale(.5);
        transition: all .3s ease;
    }

    /* アニメーション後のメニューの状態 */
    .navigation-container.active{
        pointer-events: auto;
        opacity: 1;
        transform: scale(1.0);
    }

    .nav-list-sp {

        .nav-item {
            width: 50%;
            margin: 0 auto;

            a {
                font-size: 18px;
                font-family: "YuMincho", serif;
                background: linear-gradient(90deg, #1C46C0 0%, #18B1F4 100%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                transition-duration: .4s;
                position: relative;

                &::after {
                    position: absolute;
                    left: 0;
                    content: '';
                    width: 100%;
                    height: 1px;
                    background: linear-gradient(90deg, #1C46C0 0%, #18B1F4 100%);
                    bottom: -1px;
                    transform: scale(0, 1);
                    transform-origin: center top;
                    transition: transform 0.3s;
                }

                &:hover::after {
                    transform: scale(1, 1);
                }
            }
        }
    }

    /* ソーシャルメディアリンク */
    .nav-sns {
        display: flex;
        gap: 10px;
        justify-content: center;
        margin-top: 15px;
    }

}






















/* ---------------------------------------------------
SP
--------------------------------------------------- */
@media screen and (max-width: 767px) {
    .inner {
        margin-bottom: 50px;
        padding: 0 15px;
    }

    .pc {
        display: none;
    }

    .sp {
        display: block;
    }

    .heading {
        flex-direction: column;
        gap: 0px;
        align-items: flex-start;
        margin-bottom: 30px;

        h2 {
            font-size: 45px;
            line-height: 1em;
            margin-bottom: 0;
        }

        h3 {
            font-size: 16px;
        }
    }



    /* --------------------------------メインビジュアル */
    .main-visual-content {
        padding: 50px 0 0;

        h2 {
            margin-bottom: 10px;
            letter-spacing: -0.05em;
        }
    }

    .mv-btn {
        flex-direction: column;
        width: 100%;
        margin: 0 auto;

        .contact,
        .detail {
            width: 240px;
            margin: 0 auto;
            justify-content: center;
        }
    }


    /* --------------------------------特徴 */
    .feature-container {
        flex-direction: column;
    }

    .back-text {
        display: none;
    }

    .feature-content {

        img {
            width: 100%;
        }
    }

    .flexibility {
        margin-top: 50px;
    }

    .reliability {
        margin-top: 50px;
    }

    .feature-group {

        .feature-number {
            top: -350px;
        }
    }



    /* --------------------------------選ばれる理由 */
    .reason-container {
        flex-direction: column;
        gap: 30px;
        margin-bottom: 30px;
    }

    .reason-content {
        width: 345px;
        min-width: 345px;
        height: 345px;
        min-height: 345px;
        margin: 0 auto;
    }

    .custom {
        margin-top: 0;
    }

    .support {
        margin-top: 0;
    }

    .reason-img {
        display: block;
        margin: auto;
        padding-bottom: 15px;
    }


    /* --------------------------------サービス */
    .service-group {
        flex-direction: column;
        justify-content: center;
        gap: 50px;

        .center {
            margin: 0 auto;
        }

        .right {
            margin: 0 auto;
        }
    }

    .service-above {
        margin-bottom: 50px;
    }

    .service-under {
        margin-top: 0;
    }


    .service-content {
        width: 100%;
        height: 330px;
        margin: 0 auto;
        padding-top: 15px;

        .service-number {
            font-size: 16px;
        }

        h4 {
            font-size: 21px;
        }

        p {
            padding: 0 50px;
        }
    }



    /* --------------------------------導入事例 */
    .casestudy-wrapper {
        padding: 0 15px;
    }



    /* --------------------------------主要取引先 */
    .clients-list {

        li {
            width: 25%;
        }
    }


    /* --------------------------------最新情報 */
    .topics {
        padding-bottom: 1px;
    }

    .topics-content {
        flex-direction: column;
        gap: 10px;
        padding: 15px;
        border-bottom: 1px solid #DDDDDD;

        h4 {
            font-size: 16px;
            width: 100%;
            line-height: 1.8;
        }
    }


    /* --------------------------------お問い合わせフォーム */
    .contact-flex {
        flex-direction: column;
    }

    .overview {
        width: 100%;
        margin-bottom: 30px;
    }

    .form {
        width: 100%;
    }


    /* --------------------------------会社概要 */
    .company-container {
        flex-direction: column;
    }

    table {
        width: 100%;
    }


    /* --------------------------------フッター */
    .footer-inner {
        flex-direction: column;
        text-align: center;
    }

    /* フッターロゴ */
    h2 {
        margin-bottom: 30px;

        .footer-logo {
            font-size: 30px;
        }
    }

    .footer-about {
        margin-bottom: 30px;
    }

    .footer-sns {
        justify-content: center;
    }

    .footer-nav {
        justify-content: center;
        border-left: 0px;
        border-right: 0px;
        margin: 30px 0;
        padding: 0;
        position: relative;

        &::before {
            content: '';
            position: absolute;
            top: -30px;
            left: 50%;
            display: inline-block;
            width: 132px;
            height: 1px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);/*位置調整*/
            background-color: #DDD;/*線の色*/
        }

        &::after {
            content: '';
            position: absolute;
            bottom: -30px;
            left: 50%;
            display: inline-block;
            width: 132px;
            height: 1px;
            -webkit-transform: translateX(-50%);
            transform: translateX(-50%);/*位置調整*/
            background-color: #DDD;/*線の色*/
        }
    }

    .other {
        margin-top: 30px;
    }







}